<ion-header [translucent]="true">
  <ion-toolbar  color="dark">
      <ion-title>
        Boton de panico
      </ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="center">

  <div class="fondo">
    <div class="border-button">
      <button *ngFor="let alarma of alarmas" (click)="getMessages()" class="main_button">
        <div class="circle-button">
          {{ alarma.nombre }}
        </div>
      </button>
    </div>

    <ion-item>
      <ion-label>Latitud</ion-label>
      <ion-badge color="secondary">{{lat}}</ion-badge>
      <ion-label>Longitud</ion-label>
      <ion-badge color="tertiary">{{long}}</ion-badge>
    </ion-item>
    
  </div>
  
</ion-content>