<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Configuracion de usuario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
  <div *ngIf="!state">
    <ion-button (click)="newConfig()"> Editar </ion-button>
      <ion-item>
        <ion-label position="fixed">{{config.name}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">{{config.phone}}</ion-label>
      </ion-item>
      <ion-item>
        <p position="fixed">{{config.message}}</p>
      </ion-item>
  </div>
  <div *ngIf="state">
    <form>
      <fieldset>
        <ion-item>
          <div class="mb-3">
            <label for="name" >Nombre</label>
            <br/>
            <input type="text" class="form-control" id="name" required [(ngModel)]="config.name" name="name" placeholder="Nombre de usuario">
          </div>
        </ion-item>
        <ion-item>
          <div class="mb-3">
            <label for="phone" >Telefono: </label>
            <br/>
            <span> +593</span><input type="number" class="form-control" id="phone" required [(ngModel)]="config.phone" name="phone" placeholder="987654321">
          </div>
        </ion-item>
        <ion-item>
          <div class="mb-3">
            <label for="message" >Mensaje: </label>
            <br/>
            <input type="message" class="form-control" id="message" required [(ngModel)]="config.message" name="message" placeholder="ayudame necesito ayuda">
          </div>
        </ion-item>
      </fieldset>
      <ion-button (click)="newConfig()"> Cancelar </ion-button>
      <ion-button type="submit" (click)="saveConfig()"> Guardar </ion-button>  
    </form>
    
  </div>
</ion-content>
