<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Configuracion de usuario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
  <div *ngIf="!state">
    <ion-button (click)="newConfig()"> Editar </ion-button>
      <ion-item>
        <ion-label position="fixed">{{config.name}}</ion-label>
      </ion-item>
      <ion-item>
        <p position="fixed">{{config.message}}</p>
      </ion-item>
  </div>
  <div *ngIf="state">
    <form >
      <fieldset>
        <div class="mb-3">
          <label for="inputName" class="form-label">Nombre</label>
          <input type="text" id="inputNameUser" class="form-control" value={{name}}>
        </div>
        <div class="mb-3">
          <label for="inputMessage" class="form-label">Mensaje</label>
          <input type="text" id="inputPhoneUser" class="form-control" value={{phone}}>
        </div> 
      </fieldset>
    </form>
    <ion-button (click)="newConfig()"> Cancelar </ion-button>
    <ion-button (click)="saveConfig()"> Guardar </ion-button>
  </div>
</ion-content>
